*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #82cabb;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}

.cabecalho-imagem{
    width: 25%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 50px;
    font-size: 10px;
}

.cabecalho-lista-item a{
    text-decoration: none; 
    color: rgb(0, 0, 0);
}

.escola-imagem{
    width: 10%;
    margin: 0 80px;
    font-size: 20px;
}

#escola{
    background-image: linear-gradient(#82cabb,#82cabb);
    color:white;
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 90px 0;
    font-family: ui-sans-serif;
    flex-direction: row-reverse;
    font-size: 20px;
}

.escola-div-conteudo{
    width: 50%;
}


.escola-titulo{
    padding: 20px 0;
}

#estudante{
    padding: 24px 0;
}


.estudante-imagem{
    width: 250px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 90px 0;
}

.estudante-titulo{
    text-align: center;
    padding: 90px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.rodape{
    background-color: #699ea3;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rodape-imagem{
    height: 50px;
    padding:60px 0;
   
}